1) +
2) *
3) .
4) ?

## 4) ?

In [1]:
import re

It matches exactly zero or one occurence

In [2]:
text = "python and data science pythhhhon pyttthon"
result = re.findall("pyt",text)
print(result)

['pyt', 'pyt', 'pyt']

In [3]:
text = "python and data science pythhhhon pyttthon"
result = re.findall("pyt+",text)
print(result) # pyt pyt pyttt

['pyt', 'pyt', 'pyttt']

In [4]:
text = "python and data science pythhhhon pyttthon"
result = re.findall("pyt*",text)
print(result) # pyt pyt pyttt

['pyt', 'pyt', 'pyttt']

In [5]:
text = "python and data science pythhhhon pyttthon"
result = re.findall("pyt.",text)
print(result) # pyth pyth pytt

['pyth', 'pyth', 'pytt']

In [3]:
import re
text = "prython and data science prythhhhon pryhon prytttthon 545646adsgjgd pryhonnn"
result = re.findall("pry?",text) # exactly matches zero or one occurence
print(result) # pyt pyt py pyt py

['pry', 'pry', 'pry', 'pry', 'pry']

In [4]:
import re
text = "python and data science pythhhhon pyhon pytttthon 545646adsgjgd pyhonnn"
result1 = re.findall("pyt?hon",text) # exactly matches zero or one occurence   
print(result1)  #python

['python', 'pyhon', 'pyhon']

In [5]:
text = "python and data science pythhhhon pyhon pytttthon 545646adsgjgd pyhonnn"
result = re.findall("pyt?h+on",text) # exactly matches zero or one occurence   *********
print(result)  #python

['python', 'pythhhhon', 'pyhon', 'pyhon']

In [7]:
text = "python and data science pythhhhon pyhon pytttthon 545646adsgjgd pyhonnn"
result = re.findall("pyt*h+on",text) # exactly matches zero or one occurence   *********
print(result)  #python

['python', 'pythhhhon', 'pyhon', 'pytttthon', 'pyhon']

In [8]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("pyt?h?on",text) # exactly matches zero or one occurence
print(result)  #python python pyhon pyhon

['python', 'python', 'pyhon', 'pyhon']

In [9]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("pyt+h?on",text) # exactly matches zero or one occurence
print(result)  #python python pytttthon

['python', 'python', 'pytttthon']

In [10]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("pyt*h?on",text) # exactly matches zero or one occurence
print(result)  #python python pyhon pytttthon pyhon

['python', 'python', 'pyhon', 'pytttthon', 'pyhon']

1) + > one or more occurences
2) * > Zero or more occurences
3) . > any char except new line (\n)
4) ? > exactly zero or one occurence

## 5) ^ Power /Exponent

^ >>> Startswith  (1st index / position)

In [12]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
text.startswith("p")

True

In [13]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
text.startswith("P")

False

In [15]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("^p",text)
print(result)

['p']

In [13]:
text = "Python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("^Python",text)
print(result)

['Python']

In [9]:
text = "Python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("^Python and data science",text)        #**********
print(result)

['Python and data science']

In [10]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("^python and data science",text)        #**********
print(result)

['python and data science']

In [17]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("^Python",text)
print(result)

[]

In [19]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("^[a-z]{5}",text)
print(result)

['pytho']

In [20]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("[a-z]{5}",text)
print(result)

['pytho', 'scien', 'pytho', 'nnnnn', 'pyhon', 'pyttt', 'adsgj', 'pyhon']

In [23]:
text = "python and data science pythonnnnn pyhon pytttthon 545adsgjgd pyhonnn"
result = re.findall("[^a-z]{4}",text) # it works as negation if we put inside the bracket
print(result)

[' 545']

In [15]:
adhhar = "4566 7895 1133 nhns"
result = re.findall("^[0-9]+",adhhar)
print(result)

['4566']

In [16]:
adhhar = "4566 7895 1133 nhns"
result = re.findall("^[0-9]",adhhar)  #*******
print(result)

['4']

In [21]:
adhhar = "4566_7859_1133_nhns"
result = re.findall("^\w+",adhhar)    # *********
print(result)

['4566_7859_1133_nhns']

In [25]:
adhhar = "4566 7895 1133 nhns"
result = re.findall("^\d+",adhhar)
print(result)

['4566']

## 6) Endswith() >> $

In [28]:
addhar = "4566 7895 1133 nhns"
result = re.findall("s$",addhar)
print(result)
if result:
    print("String is ending with s")
else:
    print("String is not ending with s")

['s']
String is ending with s

In [28]:
addhar = "4566 7895 1133 nhns"
result = re.findall("s$",addhar)
print(result)
if result:
    print("String is ending with s")
else:
    print("String is not ending with s")

['s']
String is ending with s

In [32]:
addhar = "4566 7895 1133 nhns"
result = re.findall("\d$",addhar)
print(result)
if result:
    print("String is ending with number")
else:
    print("String is not ending with number")

[]
String is not ending with number

In [33]:
addhar = "4566 7895 1133 nhns"
result = re.findall("^\d",addhar)
print(result)
if result:
    print("String is ending with number")
else:
    print("String is not ending with number")

['4']
String is ending with number

In [34]:
text = "python and data science pythonnnnnnn pyhon pytttthon machine"
result = re.findall("^p.*",text)
print(result)

['python and data science pythonnnnnnn pyhon pytttthon machine']

In [35]:
text = "python and data science pythonnnnnnn pyhon pytttthon machine1"
result = re.findall("^p.*1$",text)
print(result)

['python and data science pythonnnnnnn pyhon pytttthon machine1']

In [36]:
text = "python and data science pythonnnnnnn pyhon pytttthon machine2"
result = re.findall("^p.*1$",text)
print(result)

[]

In [38]:
text = """
leaning1234"""
result = re.findall("4$",text)
print(result)

['4']

In [39]:
text = """
leaning1234"""
result = re.findall(".*4$",text)
print(result)

['leaning1234']

## 7) or (|)

used to find multiple string

In [40]:
text = "Python and data science python"
result = re.findall("python",text)
print(result)

['python']

In [41]:
text = "Python and data science python"
result = re.findall("python|Python",text)
print(result)

['Python', 'python']

In [42]:
text = """10-08-2022
          2/8/22
          22 Aug 2022
          05 MAY 2022"""
data = re.findall("\d{1,2}[-/]\d{1,2}[-/]\d{2,4}",text)
print(data)

['10-08-2022', '2/8/22']

In [43]:
text = """10-08-2022
          2/8/22
          22 Aug 2022
          05 MAY 2022"""
data = re.findall("\d{1,2}[\s][A-z]{3}\s\d{2,4}",text)
print(data)

['22 Aug 2022', '05 MAY 2022']

In [44]:
text = """10-08-2022
          2/8/22
          22 Aug 2022
          05 MAY 2022"""
data = re.findall("\d{1,2}[\s][A-z]{3}\s\d{2,4}|\d{1,2}[-/]\d{1,2}[-/]\d{2,4}",text)
print(data)

['10-08-2022', '2/8/22', '22 Aug 2022', '05 MAY 2022']

## 8) ( )

group of char > sequence

In [45]:
text = """Mobile number is: +91 9974855123
        +91 8523697410
        9865664562
        9845625458"""
result = re.findall("[+]\d{2}\s\d{10}",text)
print(result)

['+91 9974855123', '+91 8523697410']

In [46]:
text = """Mobile number is: +91 9974855123
        +91 8523697410
        9865664562
        9845625458"""
result = re.findall("[+]\d{2}\s\d{10}|\d{10}",text)
print(result)

['+91 9974855123', '+91 8523697410', '9865664562', '9845625458']

In [47]:
text = """Mobile number is: +91 9974855123
        +91 8523697410
        9865664562
        9845625458"""
result = re.findall("([+]\d{2})",text)
print(result)

['+91', '+91']

In [48]:
text = """Mobile number is: +91 9974855123 
        +91 8523697410
        9865664562
        9845625458"""
result = re.findall("([+]\d{2}.*)",text)
print(result)

['+91 9974855123', '+91 8523697410']

In [4]:
text = """Mobile number is: (+91) 9974855123
        (+91) 8523697410
        9865664562
        9845625458"""
result = re.findall("([+]\d{2}.*)",text)
print(result)

['+91) 9974855123', '+91) 8523697410']

In [50]:
text = """Mobile number is: (+91) 9974855123
        (+91) 8523697410
        9865664562
        9845625458"""
result = re.findall("\([+]\d{2}\)\s\d{10}",text)
print(result)

['(+91) 9974855123', '(+91) 8523697410']

## 5) Compile

To convert pattern into object

In [7]:
import re
text = "Addhar number is 4567-2345-7895"
result = re.findall("\d{4}[-]\d{4}[-]\d{4}",text)
print(result)

['4567-2345-7895']

In [8]:
text = "Adhar number is 4567-2345-7895"
pattern = re.compile("\d{4}[-]\d{4}[-]\d{4}") # to create an object
# print(pattern)
result = pattern.search(text) 
print(result.group())

4567-2345-7895

In [6]:
text = "Addhar number is 4566-2345-7895"

result = pattern.search(text)

print(result.group())

4566-2345-7895