In [2]:
lst = [2,3.4,"Python",[1,2,3,40],(33,44)]
lst_int   = [56,
lst_float = []
lst_str   = []
lst_list  = []
lst_tuple = []
for i in lst:
    if type(i) == int: # 2 =int
        lst_int.append(i)
    elif type(i) == float:
        lst_float.append(i)
    elif type(i) == str:
        lst_str.append(i)
    elif type(i) == list:
        lst_list.append(i)
    else:
        lst_tuple.append(i)
print("Int list is >>>",lst_int)
print("Int list is >>>",lst_float)
print("Int list is >>>",lst_str) 
print("Int list is >>>",lst_list)
print("Int list is >>>",lst_tuple)

Int list is >>> [56, 2]
Int list is >>> [3.4]
Int list is >>> ['Python']
Int list is >>> [[1, 2, 3, 40]]
Int list is >>> [(33, 44)]

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

## Loop Control Statement

1) break
2) continue
3) pass

## 1) break

To exit for loop,it will stop further iteration

In [7]:
lst = [2,3.4,"Python",[1,2,3,40],(33,44)]
lst_int   = [] # 2
lst_float = [] # empty
lst_str   = [] # empty
lst_list  = [] # empty
lst_tuple = [] # empty
for i in lst:  # i =2
    if type(i) == int: #  True
        lst_int.append(i)
        break
    elif type(i) == float:
        lst_float.append(i)
    elif type(i) == str:
        lst_str.append(i)
    elif type(i) == list:
        lst_list.append(i)
    else:
        lst_tuple.append(i)
print("Int list is >>>",lst_int)
print("float list is >>>",lst_float)
print("string list is >>>",lst_str) 
print(" list is >>>",lst_list)
print("Tuple list is >>>",lst_tuple)

Int list is >>> [2]
float list is >>> []
string list is >>> []
 list is >>> []
Tuple list is >>> []

In [9]:
lst = [2,3.4,"Python",[1,2,3,40],(33,44)]
lst_int   = [] # 2
lst_float = [] # 3.4
lst_str   = [] # empty
lst_list  = [] # empty
lst_tuple = [] # empty
for i in lst:  # i =2,i=3.4
    if type(i) == int: #  True,False
        lst_int.append(i)
       
    elif type(i) == float: # True
        lst_float.append(i)
        break
    elif type(i) == str:
        lst_str.append(i)
    elif type(i) == list:
        lst_list.append(i)
    else:
        lst_tuple.append(i)
print("Int list is >>>",lst_int)
print("float list is >>>",lst_float)
print("string list is >>>",lst_str) 
print(" list is >>>",lst_list)
print("Tuple list is >>>",lst_tuple)

Int list is >>> [2]
float list is >>> [3.4]
string list is >>> []
 list is >>> []
Tuple list is >>> []

In [10]:
lst = [2,3.4,"Python",[1,2,3,40],(33,44)]
lst_int   = [] # 2
lst_float = [] # 3.4
lst_str   = [] # Python
lst_list  = [] # [1,2,3,40]
lst_tuple = [] # empty
for i in lst:  # i =2,i=3.4
    if type(i) == int: #  True,False,False,False
        lst_int.append(i)
       
    elif type(i) == float: # True,False,False
        lst_float.append(i)
        
    elif type(i) == str: # True,False
        lst_str.append(i)
    elif type(i) == list:# True
        lst_list.append(i)
        break
    else:
        lst_tuple.append(i)
print("Int list is >>>",lst_int)
print("float list is >>>",lst_float)
print("string list is >>>",lst_str) 
print(" list is >>>",lst_list)
print("Tuple list is >>>",lst_tuple)

Int list is >>> [2]
float list is >>> [3.4]
string list is >>> ['Python']
 list is >>> [[1, 2, 3, 40]]
Tuple list is >>> []

In [11]:
lst = [2,3.4,"Python",[1,2,3,40],(33,44)]
lst_int   = [] # 2
lst_float = [] # 3.4
lst_str   = [] # Python
lst_list  = [] # [1,2,3,40]
lst_tuple = [] # empty
for i in lst:  # i =2,i=3.4
    if type(i) == int: #  True,False,False,False
        lst_int.append(i)
       
    elif type(i) == float: # True,False,False
        lst_float.append(i)
        
    elif type(i) == str: # True,False
        lst_str.append(i)
    elif type(i) == list:# True
        lst_list.append(i)
        
    else:
        lst_tuple.append(i)
        break
print("Int list is >>>",lst_int)
print("float list is >>>",lst_float)
print("string list is >>>",lst_str) 
print(" list is >>>",lst_list)
print("Tuple list is >>>",lst_tuple)

Int list is >>> [2]
float list is >>> [3.4]
string list is >>> ['Python']
 list is >>> [[1, 2, 3, 40]]
Tuple list is >>> [(33, 44)]

## 2) continue

used to skip/stop current iteration only and continue with next iteration

In [13]:
for i in range(5,11):
    print(i)
    if i == 9:
        print("Data Science")
# 5
# 6
#7
#8
# 9
# Data Science
#10

5
6
7
8
9
Data Science
10

In [14]:
for i in range(5,11):
    print(i)
    if i == 9:
        print("Data Science")
        break
        print("Welcome")
# 5
# 6
#7
#8
# 9
# Data Science

5
6
7
8
9
Data Science

In [15]:
for i in range(5,11):
    print(i)
    if i == 9:
        print("Data Science")
        continue
        print("Welcome")
# 5
# 6
#7
#8
# 9
# Data Science
#10

5
6
7
8
9
Data Science
10

### 3) pass

In [ ]:
#It is like null operation

In [16]:
for i in range(5,11):
    print(i)
    if i == 9:
        print("Data Science")
        pass
        print("Welcome")
# 5
# 6
#7
#8
# 9
# Data Science
# Welcome
# 10

5
6
7
8
9
Data Science
Welcome
10

In [17]:
i = 10
if i<20:
    print("i is less than 20")
else:
    pass

i is less than 20

In [19]:
i = 100
if i<20:
    print("i is less than 20")
else:
    pass

In [20]:
i = 100
if i<20:
    print("i is less than 20")
else:
    print("i is greater than 20")

i is greater than 20

## For else

else:
    >> block will execute only when the loop complete its all iteration

In [21]:
for i in range(1,5): #1,2,3,4
    print(i)
else:
    print("Loop executed")

1
2
3
4
Loop executed

In [22]:
for i in range(1,5): #1
    print(i)
    break
else:
    print("Loop executed")

1

In [23]:
for i in range(1,5): #1
    print(i)
    pass
else:
    print("Loop executed")

1
2
3
4
Loop executed

In [24]:
for i in range(1,5): #1,2,3,4
    print(i)
    continue
else:
    print("Loop executed")

1
2
3
4
Loop executed

## Factorial

 5! =5*4*3*2*1

In [25]:
n = 5 #120
fact = 1
for i in range(1,n+1): # (i =1),(2),(3),(4),(5),
    fact*=i  # fact =fact*i > (1 updated),(2*1=2),(2*3=6),(6*4=24),(24*5=120)
fact

120

In [26]:
n = 0 
fact = 1
for i in range(1,n+1): 
    fact*=i  
fact

1

In [28]:
n = -1 
fact = 1
if n<0:
    print("Enter positive value only")
else:
    
    for i in range(1,n+1): 
        fact*=i  
    fact

Enter positive value only

### Prime number

In [ ]:
Prime number > if number is divisible by 1 and itself
Example > 2,3,5,7,11,13,17,19,23,29,

6>1,2,3,6 > This is not prime number

In [30]:
n = 10
for i in range(2,n): # 2,3,4,5,6,7,8,9
    if n%i == 0:
        print(f"{n} is not prime number") # wrong
        
else:
    print(f"{n} is prime number")

10 is not prime number
10 is not prime number
10 is prime number

In [31]:
n = 10
for i in range(2,n): # 2,3,4,5,6,7,8,9
    if n%i == 0:
        print(f"{n} is not prime number")
        break
else:
    print(f"{n} is prime number")

10 is not prime number

In [32]:
n = 3
for i in range(2,n): # 2
    if n%i == 0:
        print(f"{n} is not prime number")
        break
else:
    print(f"{n} is prime number")

3 is prime number

In [34]:
n = 1
if n<2: # True
    print("Given number is not prime number")
else:
    for i in range(2,n): # 2
        if n%i == 0:
            print(f"{n} is not prime number")
            break
    else:
        print(f"{n} is prime number")

Given number is not prime number

In [35]:
n = 115
if n<2: # True
    print("Given number is not prime number")
else:
    for i in range(2,n): # 2
        if n%i == 0:
            print(f"{n} is not prime number")
            break
    else:
        print(f"{n} is prime number")

115 is not prime number

## Fibonacci Series

In [ ]:
0 1 1 2 3 5 8 13 21 34 55 89

In [36]:
n = 4  # 0 1 1 2
first  = 0
second = 1
print(f"Fibonacci series for {n} is::>>>>", first,second ,end=" ")

Fibonacci series for 4 is::>>>> 0 1

In [ ]:
 0 1 
  0       1        1     > first iteration
 first  second     new
    
    
 0       1        1         2  
         first  second     new
    
    
 0       1        1         2      3
                 first  second     new
 0       1        1         2      3       5
                         first  second     new

In [37]:
n = 4  # 0 1 1 2
first  = 0
second = 1
print(f"Fibonacci series for {n} is::>>>>", first,second ,end=" ")
for i in range(0,n-2):
    new = first + second
    second = new
    first = second 
    print(new,end= " ")

Fibonacci series for 4 is::>>>> 0 1 1 2

In [39]:
n = 4  # 0 1 1 2
first  = 0
second = 1
print(f"Fibonacci series for {n} is::>>>>", first,second ,end=" ")
for i in range(0,n-2):
    first,second = second ,first+second
    print(second,end= " ")

Fibonacci series for 4 is::>>>> 0 1 1 2

In [ ]:
https://pythontutor.com/render.html#mode=display

In [40]:
lst = ["Phy","Mihir","Chem","MATH","mUMBAI","Delhi"]
# lst1 = ["Mihir","Mumbai","Math"]

In [44]:
lst1 = [i.lower() for i in lst if i.startswith("m") ]
lst1

['mumbai']

In [ ]:
if lst[i].startswith("m").lower==True:
Shweta Bhalerao21:51
lst1 = [i.lower() for i in lst if i.startswith(m)]
Mahesh Swami21:51
lst1.append(i)
snehal kokate21:52
lst1=[i .lower for i in lst if i.startswith('m')]
Bhairavi Bendre21:52
[i if i.startswith("M") for i in lst]

In [45]:
lst1=[i.title() for i in lst if i.lower().startswith("m")]
lst1

['Mihir', 'Math', 'Mumbai']

In [47]:
del lst1

In [49]:
lst1 = []
for i in lst:
    if i.startswith("M") == True or i.startswith("m") == True:
        lst1.append(i)
print(lst1)

['Mihir', 'MATH', 'mUMBAI']

lst = [ i.title() for i in list i.startswith("m") ]
Aditi Shalu21:57
i.title() for i  in lst if i.lower().startswith("m")
Shubham Barkate21:57
lst1=[i.title() for i in lst if i.title().startswith("M")]