## For Loop inside For Loop

In [ ]:
for var1 in sequence-1:
    statement-1
    
    for var2 in  sequence-2:
        statement -1

In [3]:
# k=[51,84,94,]
for i in range(3):123
    print("i ==",i)
    for j in range(5): # 0,1,2,3,4
        print("Welcome",j)
    
#   i == 0
# Welcome 0
# Welcome 1
# Welcome 2
# Welcome 3
# Welcome 4
# i == 1
# Welcome 0
# Welcome 1
# Welcome 2
# Welcome 3
# Welcome 4
# i == 2
# Welcome 0
# Welcome 1
# Welcome 2
# Welcome 3
# Welcome 4

i == 0
Welcome 0
Welcome 1
Welcome 2
Welcome 3
Welcome 4
i == 1
Welcome 0
Welcome 1
Welcome 2
Welcome 3
Welcome 4
i == 2
Welcome 0
Welcome 1
Welcome 2
Welcome 3
Welcome 4

In [4]:
for i in range(3):
    print("i ==",i)
    for j in range(5): # 0,1,2,3,4
        print("Welcome",j)
    print("*"*100)
#   i == 0
# Welcome 0
# Welcome 1
# Welcome 2
# Welcome 3
# Welcome 4
# 100*  "*"
# i == 1
# Welcome 0
# Welcome 1
# Welcome 2
# Welcome 3
# Welcome 4
# 100*  "*"
# i == 2
# Welcome 0
# Welcome 1
# Welcome 2
# Welcome 3
# Welcome 4
# 100*  "*"

i == 0
Welcome 0
Welcome 1
Welcome 2
Welcome 3
Welcome 4
****************************************************************************************************
i == 1
Welcome 0
Welcome 1
Welcome 2
Welcome 3
Welcome 4
****************************************************************************************************
i == 2
Welcome 0
Welcome 1
Welcome 2
Welcome 3
Welcome 4
****************************************************************************************************

In [5]:
for i in range(3):# 0,1,2
    print("i ==",i)
    for j in range(2): # 0,1
        print("We are in second for loop, j==",j)
        for k in range(3): #0,1,2
            print("We are in Third for loop, k==",k)
    break

#   i == 0
# We are in second for loop, j==0
# We are in Third for loop, k==0
# We are in Third for loop, k==1
# # We are in Third for loop, k==2
# We are in second for loop, j==1
# We are in Third for loop, k==0
# We are in Third for loop, k==1
# # We are in Third for loop, k==2

i == 0
We are in second for loop, j== 0
We are in Third for loop, k== 0
We are in Third for loop, k== 1
We are in Third for loop, k== 2
We are in second for loop, j== 1
We are in Third for loop, k== 0
We are in Third for loop, k== 1
We are in Third for loop, k== 2

In [6]:
for i in range(3):# 0,1,2
    print("i ==",i)
    for j in range(2): # 0,1
        print("We are in second for loop, j==",j)
        for k in range(3): #0,1,2
            print("We are in Third for loop, k==",k)
    print("*"*100)
    

#   i == 0
# We are in second for loop, j==0
# We are in Third for loop, k==0
# We are in Third for loop, k==1
# # We are in Third for loop, k==2
# We are in second for loop, j==1
# We are in Third for loop, k==0
# We are in Third for loop, k==1
# # We are in Third for loop, k==2
#*********************************************************
#   i == 1
# We are in second for loop, j==0
# We are in Third for loop, k==0
# We are in Third for loop, k==1
# # We are in Third for loop, k==2
# We are in second for loop, j==1
# We are in Third for loop, k==0
# We are in Third for loop, k==1
# # We are in Third for loop, k==2
#*********************************************************
#   i == 2
# We are in second for loop, j==0
# We are in Third for loop, k==0
# We are in Third for loop, k==1
# # We are in Third for loop, k==2
# We are in second for loop, j==1
# We are in Third for loop, k==0
# We are in Third for loop, k==1
# # We are in Third for loop, k==2
#*********************************************************

i == 0
We are in second for loop, j== 0
We are in Third for loop, k== 0
We are in Third for loop, k== 1
We are in Third for loop, k== 2
We are in second for loop, j== 1
We are in Third for loop, k== 0
We are in Third for loop, k== 1
We are in Third for loop, k== 2
****************************************************************************************************
i == 1
We are in second for loop, j== 0
We are in Third for loop, k== 0
We are in Third for loop, k== 1
We are in Third for loop, k== 2
We are in second for loop, j== 1
We are in Third for loop, k== 0
We are in Third for loop, k== 1
We are in Third for loop, k== 2
****************************************************************************************************
i == 2
We are in second for loop, j== 0
We are in Third for loop, k== 0
We are in Third for loop, k== 1
We are in Third for loop, k== 2
We are in second for loop, j== 1
We are in Third for loop, k== 0
We are in Third for loop, k== 1
We are in Third for loop, k== 2
****************************************************************************************************

## Star Program

In [7]:
for i in range(4):
    print(f" i === {i}")
    print()
    for j in range(4):
        print("*")

 i === 0

*
*
*
*
 i === 1

*
*
*
*
 i === 2

*
*
*
*
 i === 3

*
*
*
*

In [8]:
for i in range(4):
    print(f" i === {i}")
    print()
    for j in range(4):
        print("*",end = " ")

 i === 0

* * * *  i === 1

* * * *  i === 2

* * * *  i === 3

* * * *

In [9]:
for i in range(4):
    print(f" i === {i}")
    print()
    for j in range(4):
        print("*",end = " ")
    print()

 i === 0

* * * *
 i === 1

* * * *
 i === 2

* * * *
 i === 3

* * * *

In [4]:
n=int(eval(input("Enter the no.   ")))
for i in range(1,n+1): # 0,1,2,3,4
    print("*")
# *****
# *****

Enter the no.   4
*
*
*
*

In [15]:
for i in range(5): # 0,1,2,3,4
#     print("*")
    for j in range(5):
        print("*",end="")
    print()
# *****
# *****

*****
*****
*****
*****
*****

In [3]:
for i in range(5): # 0,1,2,3,4
    print("*")
    j in range 
# *
# * *
# * * *
# * * * *
# * * * * *

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [11]:

for i in range(8):
    for j in range(2):
        print("*",end="")
    print("")
        
        
# * * * * *
# * * * * *
# * * * * *
# * * * * *
# * * * * *

**
**
**
**
**
**
**
**

In [21]:
for i in range(5):
    for j in range(5):
        print("*")
    print("&&&&&&&&&&&")

*
*
*
*
*
&&&&&&&&&&&
*
*
*
*
*
&&&&&&&&&&&
*
*
*
*
*
&&&&&&&&&&&
*
*
*
*
*
&&&&&&&&&&&
*
*
*
*
*
&&&&&&&&&&&

In [22]:
# n =5
# for i in range(1,n+1):
#     for j in range(1,n+1):
#         print("*",end=" ")
#     print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [31]:
# n=5
for i in range(1,5):
    for j in range(i):
        print("*",end="")
    print("")
# n=5
# for i in range(1,n+1):
#     for j in

*
**
***
****

In [3]:
n=5
for i in range(5,0,-1):
    for j in range(i):#1,12
        print("$",end="")
    print("")

$$$$$
$$$$
$$$
$$
$

In [5]:
n=5
for i in range(n+1,-1,-1):
    for j in range(i):
        print("9",end=" ")
    print("")

9 9 9 9 9 9
9 9 9 9 9
9 9 9 9
9 9 9
9 9
9

In [38]:
n=5
# type(n)
for i in range(1,n+1):
    for j in range(i):
        print("$",end=" ")
    print("")
for i in range(n,0,-1):
    for j in range(i):
        print("9",end=" ")
    print("")

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
9 9 9 9 9
9 9 9 9
9 9 9
9 9
9

In [ ]:
# *
# * *
# * * *
# * * * *
# * * * * *


# * * * * *
# * * * *
# * * *
# * *
# *

In [25]:
for i in range(5,0,-1): # 0,1,2,3,4
    print("* "*i)

* * * * *
* * * *
* * *
* *
*

In [ ]:
0
0 1
0 1 2 
0 1 2 3
0 1 2 3 4

In [56]:
n=5
for i in range(1,n+1):
    x=0
    for j in range(i):
        print(x,end=" ")
        x=x+1
    print("")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [8]:
n=5
x=1
for i in range(1,n+1):
    
    for j in range(i):
        print(x,end=" ")
    
    print("")

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [20]:
n = 5 
for i in range(1,5): # 1 > 2   > 3
    for j in range(i): # 0 > 0,1 > 0,1,2     #0=0
        print(j,end="")
    print()

0
01
012
0123

In [ ]:
n = 3 
for i in range(1,n+1): # i =0 ,i =1,i=2,i=3
    for j in range(i): # i =0 
        print(j,end=" ")
    break

In [28]:
for j in range(0):
    print(j)

In [29]:
for j in range(1):
    print(j)

0

In [ ]:
A
A A
A A A
A A A A
A A A A A

In [57]:
n = 5 
for i in range(1,n+1): # i =0 ,i =1,i=2,i=3
    for j in range(i): # i =0 
        print("^",end=" ")
    print()

^
^ ^
^ ^ ^
^ ^ ^ ^
^ ^ ^ ^ ^

In [31]:
n = 5 
for i in range(1,n+1): # i =0 ,i =1,i=2,i=3
    for j in range(i): # i =0 
        print("B",end=" ")
    print()

B
B B
B B B
B B B B
B B B B B

In [32]:
n = 5 
for i in range(1,n+1): # i =0 ,i =1,i=2,i=3
    for j in range(i): # i =0 
        print("+",end=" ")
    print()

+
+ +
+ + +
+ + + +
+ + + + +

In [33]:
n = 5 
for i in range(1,n+1): # i =0 ,i =1,i=2,i=3
    for j in range(i): # i =0 
        print("1",end=" ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [37]:
chr(65) # A

chr(90) # Z
chr(97) # a
chr(122)# z

'z'

In [38]:
n = 5 
x = 90
for i in range(1,n+1): # i =0 ,i =1,i=2,i=3
    for j in range(i): # i =0 
        print(chr(x),end=" ")
    print()

Z
Z Z
Z Z Z
Z Z Z Z
Z Z Z Z Z

In [39]:
n = 5 
x = 122
for i in range(1,n+1): # i =0 ,i =1,i=2,i=3
    for j in range(i): # i =0 
        print(chr(x),end=" ")
    print()

z
z z
z z z
z z z z
z z z z z

In [ ]:
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [22]:

# Bhairavi Bendre
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [41]:
n=5 
for i in range(1,n+1): # 1,2,3,4,5
    for j in range(i):# 0
        print(i,end=" ") 
    print()
    
# Pradeep Bagal21:13
# for i in range(1,6):
#     for j in range(i):
#         print(i,end=" ")
#     print()
# Sandip Lengare21:13
# n = 5
# for i in range(1,n+1):
#     for j in range(i):
#         print(i,end = " ")
        
#     print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
1
1 2
1 2 3
1 2 3 4

In [42]:
n = 4
for i in range(1,n+1):# (1) 4 times
    for j in range(1,n+1):#(1) 4times
        print(j,end=" ")
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [45]:
n = 4
for i in range(1,n+1):# (1) (2) (3),(4)
    for j in range(1,i+1):#range(1,2),range(1,3),range(1,4)
        print(j,end=" ")
    print()
# 1
# 1 2
# 1 2 3 
# 1 2 3 4

1
1 2
1 2 3
1 2 3 4

In [43]:
for j in range(1,2):
    print(j)

1

In [44]:
for j in range(1,3):# 1,2
    print(j)

1
2

In [ ]:
5
6  7
8  9  10
11 12 13 14
15 16 17 18 19

In [29]:
n = 5
x=10
for i in range(1,n+1):# i=1,i=2
    for j in range(1,i+1): #range(1,1),range(1,2)
        print(x,end= " ")
        x=x+1
    print()

10
11 12
13 14 15
16 17 18 19
20 21 22 23 24

In [49]:
for j in range(1,2):
    print(j)

1

In [50]:
n = 5
for i in range(2,n+2):# i=2,i=3,i=4,i=5,i=6
    for j in range(1,i): #range(1,2)> 1 time,range(1,3)>2 times,range(1,4) > 3 times,range(1,5),range(1,6)
        print(n,end= " ")
        n+=1
    print()
# 5
# 6 7
# 8 9 10
#

5
6 7
8 9 10
11 12 13 14
15 16 17 18 19

In [31]:
n = 5
x = 5
for i in range(1,n+2):# i=2,i=3,i=4,i=5,i=6
    for j in range(1,i+1): #range(1,2)> 1 time,range(1,3)>2 times,range(1,4) > 3 times,range(1,5),range(1,6)
        print(x,end= " ")
        x+=1
    print()
# 5
# 6 7
# 8 9 10
#

5
6 7
8 9 10
11 12 13 14
15 16 17 18 19
20 21 22 23 24 25

In [ ]:
1
2  3
4  5  6
7  8  9  10
11 12 13 14 15

In [51]:
n = 5
x = 1
for i in range(2,n+2):# i=2,i=3,i=4,i=5,i=6
    for j in range(1,i): #range(1,2)> 1 time,range(1,3)>2 times,range(1,4) > 3 times,range(1,5),range(1,6)
        print(x,end= " ")
        x+=1 # x =x+1
    print()
# 5
# 6 7
# 8 9 10
#

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
n = 1

for i in range(2,n+2):# i=2,i=3,i=4,i=5,i=6
    for j in range(1,i): #range(1,2)> 1 time,range(1,3)>2 times,range(1,4) > 3 times,range(1,5),range(1,6)
        print(n,end= " ")
        n+=1
    print()
# 5
# 6 7
# 8 9 10

In [33]:
n = 5

for i in range(2,n+2):# i=2,i=3,i=4,i=5,i=6
    x = 1
    for j in range(1,i): #range(1,2)> 1 time,range(1,3)>2 times,range(1,4) > 3 times,range(1,5),range(1,6)
        print(x,end= " ")
        x+=1 # x =x+1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
1 
2 3 
4 5 6 
7 8 9 10 
11 12 13 14 15

In [ ]:
A A A A A
A A A A
A A A
A A 
A

In [ ]:
n= 9

for i in range(n+1, 0, -1):
    for j in range(i, 0, -1):
        print("A",end = "")
    print()

In [36]:
X=65
for i in range(5,0,-1):# 5,4,3,2,1
#     print(chr(65)+1,chr)
    for j in range(i): #5>0,1,2,3,4
        print(chr(X),end="")
    X+=1
    print()

AAAAA
BBBB
CCC
DD
E

In [ ]:
A A A A A
B B B B
C C C
D D
E

In [16]:
x = 1
for i in range(5,0,-1):
    x=1# 5,4,3,2,1
    for j in range(i): #5>0,1,2,3,4
        print(x,end=" ")
        x+=1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
A B C D E
F G H I
J K L
M N
O

In [10]:
x = 65
for i in range(5,0,-1):# 5,4,3,2,1
    for j in range(i): #5>0,1,2,3,4
        print(chr(x),end=" ")
        x+=1
    print()

A B C D E
F G H I
J K L
M N
O

In [ ]:
              * # spaces (4) and 1 star
          *   * #spaces (3) and 2 star
       *  *   * #spaces (2) and 3 star
    *  *  *   * ##spaces (1) and 4 star
*  *  *   *   * ##spaces (0) and 5 star

In [64]:
n = 5
for j in range(1,n+1): # j =1,j=2,j=3,j=4
    print(" "*(n-j) +"*"*j)

    *
   **
  ***
 ****
*****

In [65]:
n = 5
for j in range(1,n+1): # j =1,j=2,j=3,j=4
    print(" "*(n-j) +"* "*j)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
    * # spaces (4)
   * * # spaces(3)
  * * * # spaces(2)
 * * * * # spaces(1)
* * * * *

# practise

In [6]:
n=5
for i in range(n):
    for j in range(i+1):
        if i%2==0:print('1',end='')
        else:print('2',end='')
    print()

1
22
111
2222
11111

In [62]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i):
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print()

     *
    ***
   *****
  *******
 *********

In [66]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    print()

In [67]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i):
        print('*',end='')
    print()

    *
   **
  ***
 ****

In [69]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i):
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print()

     *
    ***
   *****
  *******
 *********

In [78]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i):
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print()
# for i in range(n-1,i):
#     for j in range(i,n):
#         print(' ',end='')
#     for j in range(i):
#         print('*',end='')
#     for j in range(i+1):
#         print('*',end='')
#     print()

     *
    ***
   *****
  *******
 *********