### Dict

In [ ]:
dict = {"key":val}
1) It is collection of key and value pairs
2) Duplicates keys are not allowed
3) Duplicates values are allowed
4)Comma seperated
5) dict is enclosed by {}
6) We can not use indexing 
7) Mutable 
Note:
    keys : Immutable Data type > int,str,float,tuple,frozenset()
    values :any data type can be use

In [3]:
d = {} # {}
# type(d)
ABC={}

type(ABC)

dict

In [2]:
d = {2,} # {}
type(d)

set

In [9]:
d = {"Student_name": "Virat","Mobile number":902155555}
print(d)
num={"student":[46,15,10]}
print(num)

{'Student_name': 'Virat', 'Mobile number': 902155555}
{'student': [46, 15, 10]}

In [4]:
d = {"Student_name":[ "Virat","Sachin","Suresh"],"Mobile number":902155555}
print(d)

{'Student_name': ['Virat', 'Sachin', 'Suresh'], 'Mobile number': 902155555}

In [2]:
d = {"Student_name":[ "Virat","Sachin","Suresh"],"Mobile number":902155555}
d.get("Student_name")

['Virat', 'Sachin', 'Suresh']

In [4]:
d = {"Student_name":[ "Virat","Sachin","Suresh"],"Mobile number":902155555}
d.items()

dict_items([('Student_name', ['Virat', 'Sachin', 'Suresh']), ('Mobile number', 902155555)])

In [17]:
d = {"Student_name":[ "Virat","Sachin","Suresh"],"Mobile number":902155555}

In [5]:
d = {"Student_name":[ "Virat","Sachin","Suresh"],"Mobile number":(902155555,985124456,6544888)}
print(d)

{'Student_name': ['Virat', 'Sachin', 'Suresh'], 'Mobile number': (902155555, 985124456, 6544888)}

In [7]:
d = {["Student_name"]:[ "Virat","Sachin","Suresh"],"Mobile number":(902155555,985124456,6544888)}
print(d)

TypeError: unhashable type: 'list'

In [6]:
type(["Student_name"])

list

In [8]:
d = {{"Student_name"}:[ "Virat","Sachin","Suresh"],"Mobile number":(902155555,985124456,6544888)}
print(d)

TypeError: unhashable type: 'set'

In [9]:
d = {("Student_name"):[ "Virat","Sachin","Suresh"],"Mobile number":(902155555,985124456,6544888)}
print(d)

{'Student_name': ['Virat', 'Sachin', 'Suresh'], 'Mobile number': (902155555, 985124456, 6544888)}

## How to access

In [10]:
dict1 = {"Name":["Virat","Sachin","Ganesh"],"subject_name":["Phy","Maths","Science"]}
dict1

{'Name': ['Virat', 'Sachin', 'Ganesh'],
 'subject_name': ['Phy', 'Maths', 'Science']}

In [3]:
dict1 = {"Name":["Virat","Sachin","Ganesh"],"subject_name":["Phy","Maths","Science"]}
dict1["subject_name"]=8989
dict1
dict1['Name']='kp'
dict1

{'Name': 'kp', 'subject_name': 8989}

In [11]:
len(dict1)

2

In [12]:
dict1["Name"]  # keys to values

['Virat', 'Sachin', 'Ganesh']

In [14]:
dict1["subject_name"]

['Phy', 'Maths', 'Science']

## 1) get()

In [14]:
dict1  ={'Name': ['Virat', 'Sachin', 'Ganesh'],'subject_name': ['Phy', 'Maths', 'Science']}
print(dict1)
dict1.get("subject_name")

{'Name': ['Virat', 'Sachin', 'Ganesh'], 'subject_name': ['Phy', 'Maths', 'Science']}

['Phy', 'Maths', 'Science']

In [17]:
dict1.get("Name")

['Virat', 'Sachin', 'Ganesh']

In [18]:
dict1.get("subject_name") # to access values using key

['Phy', 'Maths', 'Science']

In [19]:
dict1.get("name")# no error

## 2) keys()

In [5]:
dict1  ={'Name': ['Virat', 'Sachin', 'Ganesh'],'subject_name': ['Phy', 'Maths', 'Science']}
print(dict1)
dict1.keys()

{'Name': ['Virat', 'Sachin', 'Ganesh'], 'subject_name': ['Phy', 'Maths', 'Science']}

dict_keys(['Name', 'subject_name'])

In [11]:

dict1.keys()
dict1.get('Name')

['Virat', 'Sachin', 'Ganesh']

In [21]:
dict1.keys() #

dict_keys(['Name', 'subject_name'])

In [22]:
for i in dict1.keys():
    print(i)

Name
subject_name

## 3)values()

In [23]:
dict1  ={'Name': ['Virat', 'Sachin', 'Ganesh'],'subject_name': ['Phy', 'Maths', 'Science']}
print(dict1)

{'Name': ['Virat', 'Sachin', 'Ganesh'], 'subject_name': ['Phy', 'Maths', 'Science']}

In [6]:
dict1.values()

dict_values([['Virat', 'Sachin', 'Ganesh'], ['Phy', 'Maths', 'Science']])

In [25]:
for i in dict1.values():
    print(i)

['Virat', 'Sachin', 'Ganesh']
['Phy', 'Maths', 'Science']

## 4) items()

In [ ]:
# it return both keys and values

In [ ]:
.keys()  # only keys
.values # onlye values
.items()# both

In [26]:
dict1  ={'Name': ['Virat', 'Sachin', 'Ganesh'],'subject_name': ['Phy', 'Maths', 'Science']}
print(dict1)

{'Name': ['Virat', 'Sachin', 'Ganesh'], 'subject_name': ['Phy', 'Maths', 'Science']}

In [27]:
dict1.items()

dict_items([('Name', ['Virat', 'Sachin', 'Ganesh']), ('subject_name', ['Phy', 'Maths', 'Science'])])

In [29]:
for key, value in dict1.items():
    print(key,">>>>>>>",value)

Name >>>>>>> ['Virat', 'Sachin', 'Ganesh']
subject_name >>>>>>> ['Phy', 'Maths', 'Science']

## change items

In [31]:
dict1  ={'Name': "Pratik","Age":22,"Salary":80000,"Company_Name":"EY","Location":"Mumbai"}
print(dict1)

{'Name': 'Pratik', 'Age': 22, 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}

In [32]:
dict1["Age"]

22

In [33]:
dict1["Age"] = 20

In [34]:
dict1

{'Name': 'Pratik',
 'Age': 20,
 'Salary': 80000,
 'Company_Name': 'EY',
 'Location': 'Mumbai'}

In [4]:

dict1["Salary"] = 90000
dict1["Age"] = 56

NameError: name 'dict1' is not defined

In [8]:
dict1  ={'Name': "Pratik","Age":22,"Salary":80000,"Company_Name":"EY","Location":"Mumbai"}
print(dict1)
# dict1["Salary"] = 90000
dict1["Age"] = 56
dict1

{'Name': 'Pratik', 'Age': 22, 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}

{'Name': 'Pratik',
 'Age': 56,
 'Salary': 80000,
 'Company_Name': 'EY',
 'Location': 'Mumbai'}

In [36]:
dict1

{'Name': 'Pratik',
 'Age': 20,
 'Salary': 90000,
 'Company_Name': 'EY',
 'Location': 'Mumbai'}

In [38]:
dict1["Gender"] = "Male"

In [39]:
dict1

{'Name': 'Pratik',
 'Age': 20,
 'Salary': 90000,
 'Company_Name': 'EY',
 'Location': 'Mumbai',
 'Gender': 'Male'}

## 1) update()

In [12]:
dict1  ={'Name': "Pratik","Age":22,"Salary":80000,"Company_Name":"EY","Location":"Mumbai"}
print(dict1)
kp=dict1.update({"scode":"Koushil"})
print(kp)

{'Name': 'Pratik', 'Age': 22, 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
None

In [41]:
dict1.update({"Designation":"ML Engineer","Mobile":98557214545,"Name":"Kapil"})

In [42]:
dict1

{'Name': 'Kapil',
 'Age': 22,
 'Salary': 80000,
 'Company_Name': 'EY',
 'Location': 'Mumbai',
 'Designation': 'ML Engineer',
 'Mobile': 98557214545}

## Delete items from dict

1.pop()
2.popitem()
3.clear
del

## 1pop()

In [28]:
dict1  ={'Name': "Pratik","Age":22,"Salary":80000,"Company_Name":"EY","Location":"Mumbai"}
dict1.pop("Salary")
print(dict1)

{'Name': 'Pratik', 'Age': 22, 'Company_Name': 'EY', 'Location': 'Mumbai'}

In [44]:
dict1.pop("Age") # here we need to pass key as argument
print(dict1)

{'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}

In [45]:
dict1.pop("Mumbai") # here we need to pass key as argument
print(dict1)

KeyError: 'Mumbai'

In [46]:
dict1.pop() # here we need to pass key as argument
print(dict1)

TypeError: pop expected at least 1 argument, got 0

## 2.popitem()

In [ ]:
# it will remove last inserted item
# we cannot use popitem to null dict else will get an error

In [57]:
dict1  ={'Name': 'Pratik',"State":"Delhi",'Salary': 80000, 'Company_Name': 'EY','Location': 'Mumbai'}
print(dict1)

{'Name': 'Pratik', 'State': 'Delhi', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}

In [52]:
dict1.popitem() # last inserted item remove
print(dict1)

{'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY'}

In [53]:
dict1.popitem() # last inserted item remove
print(dict1)

{'Name': 'Pratik', 'Salary': 80000}

In [54]:
dict1.popitem() # last inserted item remove
print(dict1)

{'Name': 'Pratik'}

In [55]:
dict1.popitem() # last inserted item remove
print(dict1)

{}

In [56]:
dict1.popitem() # last inserted item remove
print(dict1)

KeyError: 'popitem(): dictionary is empty'

In [50]:
dict2 = {}
dict2.popitem()

KeyError: 'popitem(): dictionary is empty'

In [58]:
dict1.popitem() # last inserted item remove
print(dict1)

{'Name': 'Pratik', 'State': 'Delhi', 'Salary': 80000, 'Company_Name': 'EY'}

In [60]:
dict1  ={'Company_Name': 'EY','Name': 'Pratik',"State":"Delhi",'Salary': 80000, 'Location': 'Mumbai'}
dict1.popitem()
print(dict1)

{'Company_Name': 'EY', 'Name': 'Pratik', 'State': 'Delhi', 'Salary': 80000}

In [62]:
dict1["Mobile"] = 9852222
print(dict1) # Mobile-1
dict1["Mobile_new"] = 100000
print(dict1) # Mobile -2
dict1.popitem()
print(dict1) # remove

{'Company_Name': 'EY', 'Name': 'Pratik', 'State': 'Delhi', 'Salary': 80000, 'Mobile': 9852222}
{'Company_Name': 'EY', 'Name': 'Pratik', 'State': 'Delhi', 'Salary': 80000, 'Mobile': 9852222, 'Mobile_new': 100000}
{'Company_Name': 'EY', 'Name': 'Pratik', 'State': 'Delhi', 'Salary': 80000, 'Mobile': 9852222}

## 3.clear()

In [30]:
dict1  ={'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
# dict1.clear()
print(dict1)

{'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}

In [64]:
dict1.clear() # it remove all items
print(dict1) # empty

{}

## 4.del

In [33]:
dict1  ={'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
# del dict1
print(dict1)
# print("*"*1000)
# del dict1
# print(dict1)

{'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}

In [70]:
dict1  ={'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
print(dict1)
print("*"*100)
del dict1["Location"]
print(dict1)

{'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
****************************************************************************************************
{'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY'}

In [69]:
dict1["Location"]

'Mumbai'

In [71]:
dict1  ={'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
print(dict1)
print("*"*100)
del dict1["Salary"]
print(dict1)

{'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
****************************************************************************************************
{'Name': 'Pratik', 'Company_Name': 'EY', 'Location': 'Mumbai'}

## Sort dict Using keys

In [21]:
dict1  ={'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
print(dict1)
new_dict1 = {} # 
sorted_key=sorted(dict1.keys())
# print(new_sorted)
# print("*"*100)

for key in sorted_key:
    new_dict1[key] = dict1[key]
    

print("New dict>>>>>>",new_dict1)

{'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
New dict>>>>>> {'Company_Name': 'EY', 'Location': 'Mumbai', 'Name': 'Pratik', 'Salary': 80000}

In [13]:
dict1  ={'Name': 'Pratik', 'Salary': 80000, 'Company_Name': 'EY', 'Location': 'Mumbai'}
kp1=sorted(dict1.items())
kp1

[('Company_Name', 'EY'),
 ('Location', 'Mumbai'),
 ('Name', 'Pratik'),
 ('Salary', 80000)]

In [78]:
dict1["Company_Name"]

'EY'

In [79]:
new_dict1["Company_Name"]

KeyError: 'Company_Name'

In [73]:
dict1.keys()

dict_keys(['Name', 'Salary', 'Company_Name', 'Location'])

In [74]:
sorted(dict1.keys())

['Company_Name', 'Location', 'Name', 'Salary']

## Sort dict using values

In [43]:
dict1  ={"Name":"Pratik","Company_name":"TCS","Location":"Delhi","Designation":"Data Scientist"}
print(dict1.values())
print("*"*100)


sorted_values = sorted(dict1.values())
print(sorted_values)
print("*"*100)
new_dict1 = {}

for value in sorted_values: # values ["Data Scientist"]
    for key in dict1: # keys
        
        if dict1[key] == value:# Pratik == Pratik
            new_dict1[key] =value
print(new_dict1)

dict_values(['Pratik', 'TCS', 'Delhi', 'Data Scientist'])
****************************************************************************************************
['Data Scientist', 'Delhi', 'Pratik', 'TCS']
****************************************************************************************************
{'Designation': 'Data Scientist', 'Location': 'Delhi', 'Name': 'Pratik', 'Company_name': 'TCS'}

In [89]:
dict1["Name"]

'Pratik'

In [4]:
dict1  ={"Name":"Pratik","Company_name":"TCS","Location":"Delhi","Designation":"Data Scientist"}
print(dict1)
new_dict1 = {}
sorted_values = sorted(dict1.values())
print("*"*100)

for value in sorted_values: # values ["Data Scientist"]
    for key in dict1: # keys
        print(key)
        break
# new_dict1

{'Name': 'Pratik', 'Company_name': 'TCS', 'Location': 'Delhi', 'Designation': 'Data Scientist'}
****************************************************************************************************
Name
Name
Name
Name

In [83]:
sorted(dict1.values())

['Data Scientist', 'Delhi', 'Pratik', 'TCS']

In [2]:
dict1  ={"Name":"Pratik","Company_name":"TCS","Location":"Delhi","Designation":"Data Scientist"}
print(dict1)
new_dict1 = {} # 
sorted_key = sorted(dict1.keys())
sorted_key
print("*"*100)

for key in sorted_key:
    new_dict1[key] = dict1[key]
    

print("New dict>>>>>>",new_dict1)

{'Name': 'Pratik', 'Company_name': 'TCS', 'Location': 'Delhi', 'Designation': 'Data Scientist'}

['Company_name', 'Designation', 'Location', 'Name']

## convert list to dict

In [15]:
sub_name = ["Phy","Math","Sci","ML"]
marks = [20,18,19,17]

dict1= {}
for index,key in enumerate(sub_name):
    dict1[key] = marks[index]
print(dict1)

{'Phy': 20, 'Math': 18, 'Sci': 19, 'ML': 17}

In [93]:
marks[0]

20

In [97]:
sub_name = ["Phy","Math","Sci","ML","Data Science"]
marks = [20,18,19,17]

dict1= {}
for index,key in enumerate(sub_name):
    
    dict1[key] = marks[index]
    
print(dict1)

IndexError: list index out of range

In [17]:
sub_name = ["Phy","Math","Sci","ML","Data Science"]
marks = [20,18,19,17,21]

dict1= {}
for index,key in enumerate(sub_name): # method-1
    
    dict1[key] = marks[index]
    
print(dict1)

{'Phy': 20, 'Math': 18, 'Sci': 19, 'ML': 17, 'Data Science': 21}

In [99]:
sub_name = ["Phy","Math","Sci","ML","Data Science"]
marks = [20,18,19,17,21]

dict1= {}
count = 0
for key in  sub_name: # method-2
    dict1[key] = marks[count]
    count+=1
    
print(dict1)

{'Phy': 20, 'Math': 18, 'Sci': 19, 'ML': 17, 'Data Science': 21}

In [103]:
sub_name = ["Phy","Math","Sci","ML","Data Science"]
marks = [20,18,19,17,21]

dict1= {}

for key in  range(len(sub_name)): # method-3
    dict1[sub_name[key]] = marks[key]
print(dict1)

{'Phy': 20, 'Math': 18, 'Sci': 19, 'ML': 17, 'Data Science': 21}

In [18]:
sub_name = ["Phy","Math","Sci","ML","Data Science"]
marks = [20,18,19,17,21]
DDD=dict(zip(sub_name,marks))
print(DDD)

{'Phy': 20, 'Math': 18, 'Sci': 19, 'ML': 17, 'Data Science': 21}

In [104]:
dict(zip(sub_name,marks)) # method-4

{'Phy': 20, 'Math': 18, 'Sci': 19, 'ML': 17, 'Data Science': 21}

In [102]:
sub_name[0],marks[0]

('Phy', 20)

In [100]:
len(sub_name)

5