mysql:
workbench
relational database
structured data
Tables 
rows and columns

mongoDB:
mongoDB compass
non relational database
unstructured data
JSON : dictionary >> key : value

In [ ]:
emp : 
    empid, fname, salary,loc   CONTACT 
    1001.  rahul. 80000. pune  NULL  >> mysql
    1002.  rohit. 70000  pune  9867564567
    1003   virat. 90000. pune  no field >> mongoDB
    1004   ashish 40000. pune. mob/email

In [ ]:
{contact :{mob:,email:}}

In [ ]:
mysql    == mongoDB
database == database
tables.  == collections
rows     == documents
columns  == keys

### libraries required

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.2.0-cp310-cp310-win_amd64.whl (374 kB)
     -------------------------------------- 374.2/374.2 kB 1.9 MB/s eta 0:00:00
Installing collected packages: pymongo
Successfully installed pymongo-4.2.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymongo
import pandas as pd

### create connection

In [5]:
engine=pymongo.MongoClient('mongodb://localhost:27017')
engine

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [ ]:
connection > database > collection > documents > key: value

### operations

In [ ]:
1. create database
2. create collection
3. insert data
4. read data
5. update data
6. delete data

### create database/use database

In [6]:
db=engine['db_test']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_test')

In [7]:
engine.list_database_names()

['admin', 'config', 'local']

### create collection

In [8]:
mycoll=db['emp_data']
mycoll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_test'), 'emp_data')

In [9]:
db.list_collection_names()

[]

### insert data

insert_one() : insert a single document 
insert_many(): insert multiple documents

#### 1. insert_one()

collection_name.insert_one({key:values})

In [9]:
mycoll.insert_one({'name':'rahul','salary':70000,'loc':'pune'})

In [10]:
mycoll.insert_one({'name':'rahul','salary':70000,'loc':'pune','contact':9867567867})

In [11]:
mycoll.insert_one({'name':'rahul','salary':70000,'loc':'pune','contact':{'mob':9867567867,'email':'rahul@gmail.com'}})

#### insert_many()

In [ ]:
collection_name.insert_many([{},{}])

In [12]:
mycoll.insert_many([{'name':'gaurav','salary':60000,'loc':'mumbai'},
                 {'name':'rohit','salary':40000,'loc':'pune','contact':7276133569}])

### read data

find_one(): return/read a single document
find():     return multiple documents

#### 1. find_one()

In [ ]:
collection_name.find_one({where condition},{select})
without filter condition : return the first document of the collection
with filter condition    : returns the first matched document

In [13]:
mycoll.find_one({})

{'_id': ObjectId('631a089f4ffa3d3cc270baab'),
 'name': 'rahul',
 'salary': 70000,
 'loc': 'pune'}

In [14]:
mycoll.find_one({'name':'rahul'})

{'_id': ObjectId('631a089f4ffa3d3cc270baab'),
 'name': 'rahul',
 'salary': 70000,
 'loc': 'pune'}

In [16]:
mycoll.find_one({'loc':'mumbai'})

{'_id': ObjectId('631a09ee4ffa3d3cc270baae'),
 'name': 'gaurav',
 'salary': 60000,
 'loc': 'mumbai'}

In [17]:
mycoll.find_one({'name':'rahul'},{'_id':0})

{'name': 'rahul', 'salary': 70000, 'loc': 'pune'}

In [18]:
mycoll.find_one({'name':'rahul'},{'_id':0,'name':0})

{'salary': 70000, 'loc': 'pune'}

In [20]:
mycoll.find_one({'name':'rahul'},{'name':1})

{'_id': ObjectId('631a089f4ffa3d3cc270baab'), 'name': 'rahul'}

In [22]:
mycoll.find_one({'name':'rahul'},{'_id':0,'name':1,'loc':0})

OperationFailure: Cannot do exclusion on field loc in inclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do exclusion on field loc in inclusion projection', 'code': 31254, 'codeName': 'Location31254'}

20 keys : read 4 keys : specify 1 for these 4 keys
20 keys : skip 4 keys : specify 0 for these 4 keys

#### 2. find()

In [ ]:
collection_name.find({where condition},{select})
without filter condition : return all documents of the collection
with filter condition    : returns all matched document

In [24]:
data=mycoll.find({},{'_id':0})
list(data)

[{'name': 'rahul', 'salary': 70000, 'loc': 'pune'},
 {'name': 'rahul', 'salary': 70000, 'loc': 'pune', 'contact': 9867567867},
 {'name': 'rahul',
  'salary': 70000,
  'loc': 'pune',
  'contact': {'mob': 9867567867, 'email': 'rahul@gmail.com'}},
 {'name': 'gaurav', 'salary': 60000, 'loc': 'mumbai'},
 {'name': 'rohit', 'salary': 40000, 'loc': 'pune', 'contact': 7276133569}]

In [25]:
data=mycoll.find({'name':'rahul'},{'_id':0})
list(data)

[{'name': 'rahul', 'salary': 70000, 'loc': 'pune'},
 {'name': 'rahul', 'salary': 70000, 'loc': 'pune', 'contact': 9867567867},
 {'name': 'rahul',
  'salary': 70000,
  'loc': 'pune',
  'contact': {'mob': 9867567867, 'email': 'rahul@gmail.com'}}]

In [26]:
data=mycoll.find({'loc':'pune'},{'_id':0})
list(data)

[{'name': 'rahul', 'salary': 70000, 'loc': 'pune'},
 {'name': 'rahul', 'salary': 70000, 'loc': 'pune', 'contact': 9867567867},
 {'name': 'rahul',
  'salary': 70000,
  'loc': 'pune',
  'contact': {'mob': 9867567867, 'email': 'rahul@gmail.com'}},
 {'name': 'rohit', 'salary': 40000, 'loc': 'pune', 'contact': 7276133569}]

### update data

update_one(): will update a single document
update_many() : will update multiple documents

#### update_one()

In [ ]:
collection_name.update_one({filter condtion},{'$set'}:{key:value})
without filter condition : update the first document of the collection
with filter condition    : update the first matched document

In [27]:
mycoll.update_one({},{'$set':{'salary':90000}})

In [28]:
mycoll.update_one({'name':'rahul'},{'$set':{'loc':'chennai'}})

In [29]:
mycoll.update_one({'name':'rahul'},{'$set':{'contact':9067563456}})

#### update_many()

In [ ]:
collection_name.update_many({filter condition},{'$set':{'key':value}})
without filter condition : updates all documents of the collection
with filter condition    : update all matched document

In [30]:
mycoll.update_many({'name':'rahul'},{'$set':{'loc':'blr'}})

In [31]:
mycoll.update_many({},{'$set':{'loc':'chennai'}})

#### sort

In [33]:
data=mycoll.find({},{'_id':0}).sort('salary')
list(data)

[{'name': 'rohit', 'salary': 40000, 'loc': 'chennai', 'contact': 7276133569},
 {'name': 'gaurav', 'salary': 60000, 'loc': 'chennai'},
 {'name': 'rahul', 'salary': 70000, 'loc': 'chennai', 'contact': 9867567867},
 {'name': 'rahul',
  'salary': 70000,
  'loc': 'chennai',
  'contact': {'mob': 9867567867, 'email': 'rahul@gmail.com'}},
 {'name': 'rahul', 'salary': 90000, 'loc': 'chennai', 'contact': 9067563456}]

In [34]:
data=mycoll.find({},{'_id':0}).sort('salary',-1)
list(data)

[{'name': 'rahul', 'salary': 90000, 'loc': 'chennai', 'contact': 9067563456},
 {'name': 'rahul', 'salary': 70000, 'loc': 'chennai', 'contact': 9867567867},
 {'name': 'rahul',
  'salary': 70000,
  'loc': 'chennai',
  'contact': {'mob': 9867567867, 'email': 'rahul@gmail.com'}},
 {'name': 'gaurav', 'salary': 60000, 'loc': 'chennai'},
 {'name': 'rohit', 'salary': 40000, 'loc': 'chennai', 'contact': 7276133569}]

### limit()

In [35]:
data=mycoll.find({}).limit(2)
list(data)

[{'_id': ObjectId('631a089f4ffa3d3cc270baab'),
  'name': 'rahul',
  'salary': 90000,
  'loc': 'chennai',
  'contact': 9067563456},
 {'_id': ObjectId('631a08f34ffa3d3cc270baac'),
  'name': 'rahul',
  'salary': 70000,
  'loc': 'chennai',
  'contact': 9867567867}]

### skip()

In [36]:
data=mycoll.find({}).limit(2).skip(2)
list(data)

[{'_id': ObjectId('631a09314ffa3d3cc270baad'),
  'name': 'rahul',
  'salary': 70000,
  'loc': 'chennai',
  'contact': {'mob': 9867567867, 'email': 'rahul@gmail.com'}},
 {'_id': ObjectId('631a09ee4ffa3d3cc270baae'),
  'name': 'gaurav',
  'salary': 60000,
  'loc': 'chennai'}]

### delete data

delete_one(): deletes a single document
delete_many():delete multiple documents

#### 1. delete_one()

In [ ]:
collection_name.delete_one({filter condtion})
without filter condition : delete the first document of the collection
with filter condition    : delete the first matched document

In [37]:
mycoll.delete_one({})

In [38]:
mycoll.delete_one({'loc':'chennai'})

#### 2. delete_many()

In [ ]:
collection_name.delete_many({filter condition})
without filter condition : delete all documents of the collection
with filter condition    : delete all matched document

In [40]:
mycoll.delete_many({'name':'rahul'})

In [ ]:
mycoll.delete_many({})

### delete a collection

In [41]:
mycoll.drop()

### delete database

In [ ]:
engine.drop_database('db_name')

#### rename collection

In [ ]:
db.collection.renamecollection('new name')

#### import csv file into a mongodb collection

In [44]:
df=pd.read_csv('dept.csv')
data=df.to_dict(orient='records')
db=engine['dept_data']
db.dept.insert_many(data)

### import json file into mongo collection

In [45]:
import json

In [47]:
f=open('iris.json')
data=json.load(f)
db.iris.insert_many(data)

#### convert collection into dataframe

In [50]:
data=db.dept.find({})
df=pd.DataFrame(list(data))
df

,_id,EmpID,EMP_NAME,DEPT_ID,Dept_name,location,travel_required
0,631a153d4ffa3d3cc270bab0,677509,Lois,10,Finance,CHICAGO,no
1,631a153d4ffa3d3cc270bab1,940761,Brenda,10,Finance,CHICAGO,no
2,631a153d4ffa3d3cc270bab2,428945,Joe,10,Finance,NEW YORK,no
3,631a153d4ffa3d3cc270bab3,408351,Diane,20,Tech,DALLAS,no
4,631a153d4ffa3d3cc270bab4,193819,Benjamin,20,Tech,CHICAGO,no
5,631a153d4ffa3d3cc270bab5,499687,Patrick,20,Tech,DALLAS,yes
6,631a153d4ffa3d3cc270bab6,539712,Nancy,30,HR,NEW YORK,no
7,631a153d4ffa3d3cc270bab7,380086,Carol,30,HR,CHICAGO,no
8,631a153d4ffa3d3cc270bab8,477616,Frances,30,HR,NEW YORK,no
9,631a153d4ffa3d3cc270bab9,162402,Diana,30,HR,DALLAS,no
10,631a153d4ffa3d3cc270baba,231469,Ralph,30,HR,DALLAS,yes
11,631a153d4ffa3d3cc270babb,153989,Jack,10,Finance,CHICAGO,yes
12,631a153d4ffa3d3cc270babc,386158,Melissa,20,Tech,CHICAGO,yes
13,631a153d4ffa3d3cc270babd,301576,Wayne,20,Tech,DALLAS,yes
14,631a153d4ffa3d3cc270babe,441771,Cheryl,20,Tech,CHICAGO,yes
15,631a153d4ffa3d3cc270babf,528509,Paula,20,Tech,CHICAGO,no
16,631a153d4ffa3d3cc270bac0,912990,Joshua,10,Finance,NEW YORK,no
17,631a153d4ffa3d3cc270bac1,214352,Theresa,30,HR,DALLAS,no
18,631a153d4ffa3d3cc270bac2,890290,Julia,10,Finance,CHICAGO,no
19,631a153d4ffa3d3cc270bac3,622406,Thomas,20,Tech,DALLAS,no
20,631a153d4ffa3d3cc270bac4,979607,Carol,20,Tech,DALLAS,yes
21,631a153d4ffa3d3cc270bac5,969580,Matthew,20,Tech,CHICAGO,no
22,631a153d4ffa3d3cc270bac6,426038,Joan,20,Tech,CHICAGO,yes
23,631a153d4ffa3d3cc270bac7,388642,Ruby,10,Finance,NEW YORK,yes
24,631a153d4ffa3d3cc270bac8,560455,Carolyn,30,HR,DALLAS,no
25,631a153d4ffa3d3cc270bac9,477253,Anne,30,HR,CHICAGO,no
26,631a153d4ffa3d3cc270baca,263480,Daniel,30,HR,DALLAS,no
27,631a153d4ffa3d3cc270bacb,683826,Roger,10,Finance,DALLAS,no
28,631a153d4ffa3d3cc270bacc,474599,Maria,10,Finance,DALLAS,no
29,631a153d4ffa3d3cc270bacd,335732,Brenda,20,Tech,CHICAGO,no
30,631a153d4ffa3d3cc270bace,329752,Lillian,20,Tech,CHICAGO,yes
31,631a153d4ffa3d3cc270bacf,893212,Amy,30,HR,DALLAS,yes
32,631a153d4ffa3d3cc270bad0,621833,Gregory,30,HR,CHICAGO,yes
33,631a153d4ffa3d3cc270bad1,456747,Roy,20,Tech,NEW YORK,no
34,631a153d4ffa3d3cc270bad2,100,Ajay,10,Finance,Pune,yes
35,631a153d4ffa3d3cc270bad3,101,Sumit,20,Tech,Mumbai,yes
36,631a153d4ffa3d3cc270bad4,102,Rekha,30,HR,Hyderabad,no