pandas >> Python Data Analysis
EDA >> Exploratory Data Analysis
>>> Check the data type of variables/columns/features/attribute ,missing values, distribution of data

In [2]:
import pandas as pd
import numpy as np

Data Structure >>> are the set of data elements/values that produce a well organised way of storing and organizing the data

In pandas we have three major data structure
1) Series (1-D) >> Single column
> Homogenous data type, Immutable ,values are mutable


2) DataFrame (2-D) >>> Rows and Columns
> Hetrogeneous Data ,Size mutable ,data mutable
> table with rows and columns
> 90% of the time we use 2-D Dataframe

3.Panel (3-D) > Plane,Row,Column


Uses>>>
1.Used for working with dataset >> to read csv file, excel file etc
2.EDA
3.Data Cleaning /Noisy
4.Data Manupulation
5.Feature Engineering/Feature selection
 >> Encoding
 
 male  >1
 female >0
 
 Bad   0
 Medium 1
 Good  2

In [ ]:
replace({"male":0,"female":1})

## 1) DataFrame

In [3]:
df =pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [4]:
df["A"] = np.array([10,20,30,40])
df

    A
0  10
1  20
2  30
3  40

In [6]:
df["B"] = np.array([10,20,30,40])
df

    A   B
0  10  10
1  20  20
2  30  30
3  40  40

## 1) Series()

In [7]:
import pandas as pd

In [ ]:
series()>>> 1-D >>array >>> one column of DataFrame
syntax >>
pd.Series(data,index,dtype)
data > we can create series using >>> np.array,dict,list,tuple

In [9]:
arr  = np.array([1,2,3,4])
series = pd.Series(arr)
print(type(series))
print()
print("Series\n",series)

<class 'pandas.core.series.Series'>

Series
 0    1
1    2
2    3
3    4
dtype: int32

In [10]:
arr  = np.array(["a","b","c","d"])
series = pd.Series(arr)
series

0    a
1    b
2    c
3    d
dtype: object

In [11]:
arr  = np.array(["a","b","c","d"])
series = pd.Series(arr,index = [51,52,53,54])
series

51    a
52    b
53    c
54    d
dtype: object

In [12]:
dict1 = {"a":1,"b":2,"c":3,"d":4}
series = pd.Series(dict1)
series

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
dict1 = {"a":1,"b":2,"c":3,"d":4}
series = pd.Series(dict1,index =["c","a","d","b"])
series

c    3
a    1
d    4
b    2
dtype: int64

In [14]:
tup = (1,2,3,4)
series = pd.Series(tup)
series

0    1
1    2
2    3
3    4
dtype: int64